<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p><small>Article Added: <%= @article.created_at%></small></p>
<%= link_to 'Back', articles_path %>