// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

#showLink
{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 40px;
}

#showLink:hover
{
    background-color: rgb(133, 204, 255);
    color: white;
    width: 100px;
    -webkit-transition: width 1s;
    -webkit-transition-delay: 500ms;
    transition: width 1s;
    transition-delay: 500ms;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 1;
}

#headText, #headTitle
{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}